<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmkxIZ_q6jp0cnLWkX_WsRFu5xyxvZEso</string>
	<key>GCM_SENDER_ID</key>
	<string>474831192309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.autohiringapp</string>
	<key>PROJECT_ID</key>
	<string>auto-hiring-app-587b0</string>
	<key>STORAGE_BUCKET</key>
	<string>auto-hiring-app-587b0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474831192309:ios:97a3f0c6a680c0173645bc</string>
</dict>
</plist>